@model DuThaiSon855.Models.DTS0855

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DTS0855</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DTSID" class="control-label"></label>
                <input asp-for="DTSID" class="form-control" />
                <span asp-validation-for="DTSID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DTSName" class="control-label"></label>
                <input asp-for="DTSName" class="form-control" />
                <span asp-validation-for="DTSName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DTSGender" class="control-label"></label>
                <input asp-for="DTSGender" class="form-control" />
                <span asp-validation-for="DTSGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
